/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******Custom Code ************/
   
    

.header{
    background-color: rgb(7, 7, 82);
   /* width:950px;*/
    text-align: center;
    margin-bottom: 40px;
    padding:20px;

}

a{
    font-size: 32px;
    color: white;
    text-decoration:none;
    padding:20px;
    margin:0 10px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif
}

.header-link{
    color:yellowgreen;
}

h1{
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    padding:20px ;
    letter-spacing: 2px;
    font-weight:bold;
}

h2{
    font-size: 32px;
    text-align: center;
    padding:40px;
    margin-bottom: 40px;
}
.aligncenter{
    text-align: center;
}
.box{
    width:200px;
    height:200px;
    background-color: #99d8ca;
    margin:0 auto;
    border:20px solid #5873e2;
    outline:10px solid #0d1430;
    
}

.outerbox{
    box-shadow: 0 0 0 30px #90ffa9;
    border-radius:4px;
    display: inline-block;
    
}
.dot-align{
    margin-top: 60px;
    
}
.marker{
    display: inline-block;
    margin-right: 10px;
    font-size: 22px;
}
.dot{
    width:28px;
    height:28px;
    background-color: #99d8ca;
    display: inline-block;
    border-radius:50%;
    border:1px solid black;
    vertical-align: middle;
    margin-right: 5px;
}
.dot-black{
    background-color: #0d1430;
}
.dot-green{
    background-color: #90ffa9;
}
.dot-blue{
    background-color: #5873e2;
}

hr{
    width:800px;
    border-style: dotted;
    margin:40px auto;
}

.big-container{
    width:660px;
    border: 2px solid black;
    display: inline-block;
    font-size: 0;
}
.child-container{
    width:200px;
    height:180px;
    background-color: rgb(190, 208, 248);
    display: inline-block;
    margin:10px;
}

.border{
    border:2px solid black;
}

.border-box{
    box-sizing: border-box;
}

/**** **** BLOG Page ************/
.container{
    width:830px;
    margin:24px auto;
    font-size: 0;    
}


.col{
    width:400px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    
}


img{
    width:400px;
}

 
h3{
    font-size:22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#0d1430;
    margin-bottom: 10px;
    
}
p{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    
}

.learn-more{
    color:#048b24;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    margin-left: -20px;
}
.read-more{
    font-size: 14px;
    color:white;
    width:120px;
    background-color: #048b24;
    display: inline-block;
    border-radius: 50px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    
}